@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$hetic-green: white;

body,
button,
input,
select,
textarea {
  font-family: 'Roboto';
}

.big-header {
  background-color: $hetic-green;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 30px;

  color: black;
}

.black-leave-active{
  animation: toBlack 0.5s;
}

.black-enter-active{
  animation: toBlack 0.5s ease 0.5s reverse;
}

@keyframes toBlack {
  to {
    opacity: 0;
  }
}

body {
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}